# docker-compose.yml
version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: pengbook-postgres
    environment:
      POSTGRES_DB: pengbook
      POSTGRES_USER: pengbook
      POSTGRES_PASSWORD: pengbook
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
